<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <button style=" height: 30px; width: 100px;  margin-left: 93em;"><a href="{% url 'shopy:adminlogout' %}" style="color: black;  font-size:15px;">Log Out</a></button>

    <button style=" height: 30px; width: 110px; "><a href="{% url 'shopy:categoryadd' %}" style="color: black;  font-size:15px;">Category add</a></button>

    <button style=" height: 30px; width: 110px; "><a href="{% url 'shopy:productadd' %}" style="color: black;  font-size:15px;">Laptop add</a></button>

<br>
<br>
    <button style=" height: 30px; width: 100px; "><a href="{% url 'shopy:admincartview' %}" style="color: black;  font-size:15px;">Cart View</a></button>

    <button style=" height: 30px; width: 120px; "><a href="{% url 'shopy:adminwishlistview' %}" style="color: black;  font-size:15px;">WishList View</a></button>
<br>
<br>
    <button style=" height: 30px; width: 150px; "><a href="{% url 'shopy:adminviewcustomerorder' %}" style="color: black;  font-size:15px;">Customers Order</a></button>

</body>

</html>