<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productadd</title>
</head>

<body>
    <form action="{% url 'shopy:categoryadd' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            
            <tr>
                <td><label>Category Name</label></td>
                <td><input type="text" name="category_name"></td>
            </tr>
            <tr>
                <td><label>Category Image</label></td>
                <td><input type="file" name="category_image"></td>
            </tr>
            <tr>
                <td><label>Category Quantity</label></td>
                <td><input type="number" name="category_quantity"></td>
            </tr>
            <tr>
                <td><input type="submit"></td>
            </tr>

        </table>
    </form>
</body>

</html>